@import "../../fonts.css";

.container{
    display: flex;
    img{
        width: 50%;
        height: 200px;
        margin: auto;
        object-fit: contain;
    }

    .textContainer{
        padding: 50px;
        width: 50%;
    }

}

.blue{
    background-color: rgb(209, 209, 255);
}

